@CHARSET "UTF-8";
.picture_div{
	width:100%;
	height:300px;
}
.big_picture{
	background: black;
	width:50%;
	height:300px;
	margin-left:20px;
	float:left;
}
.small_picture{
	width:100px;
	height:150px;
	float:left;
	margin-left:20px;
}
.picture_text{
	width:100px;
	height:30px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
}
.div_button{
	width:110px;
	height:40px;
	margin-left:20px;
	margin-top:20px;
}