@CHARSET "UTF-8";

.clear {
	clear: both;
}

#main_content3 {
	width: 100%;
	margin: 0;
	height: 753px;
	padding: 0;
}

.input {
	height: 28px;
	width: 240px;
	line-height: 28px;
	outline: none;
	margin: 20px auto auto 15px;
	float: left;
	color: #999;
	padding-left: 10px;
}

.input_rig {
	height: 30px;
	width: 64px;
	line-height: 30px;
	color: white;
	font-size: 14px;
	background-color: #2946a2;
	margin: 20px auto auto 10px;
	border-radius: 2px;
	position: relative;
	z-index: 99;
	float: left;
	text-align: center;
	display: block;
}

.left {
	float: left;
	height: 751px;
	width: 350px;
}

.left_top {
	width: 350px;
	height: 39px;
	line-height: 38px;
	border: 1px solid #d4d4d4;
	background-color: #f3f7f8;
	border-bottom-color: #5e79ee;
}

.left_top_text1 {
	width: 80px;
	height: 33px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background-color: #5e79ee;
	float: left;
	margin: 6px auto auto 16px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
}

.left_top a:hover {
	width: 80px;
	height: 33px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background-color: #5e79ee;
	float: left;
	margin: 6px auto auto 16px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: block;
}

.left_top_text2 {
	width: 80px;
	height: 33px;
	float: left;
	display: block;
	text-align: center;
	font-size: 14px;
	margin: 6px auto auto 16px;
	color: #626262;
}

.left_bottom {
	width: inherit;
	height: 710px;
}

.left_bottom_bot {
	width: 330px;
	height: 88px;
	background-color: #eff4fa;
	margin: 15px auto auto 10px;
	border: 1px solid #eff4fa;
}

.left_bottom_bot_left {
	width: 66px;
	height: 88px;
	float: left;
	margin: 0 0 0 0;
}

.left_bottom_bot_rig {
	float: left;
	margin: 8px auto auto 15px;
}

.moweiwz1 {
	font-size: 18px;
	font-weight: bold;
	color: #323230;
	font-family: "微软雅黑";
}

.left_bottom_wb {
	height: 73px;
	width: 351px;
	border-right: 1px solid #cccccc;
	background-color: #f3f7f8;
}

.xinbg {
	height: 43px;
	width: 351px;
	border-right: 1px solid #cccccc;
	background-color: #f3f7f8;
	border-bottom: 1px solid #ececee;
}

.left_bottom_wb_nav {
	height: 27px;
	width: 202px;
	margin: 10px auto auto 60px;
	position: absolute;
}

.left_bottom_wb_nav a:hover {
	display: block;
	height: 22px;
	line-height: 22px;
	width: 47px;
	float: left;
	color: #fff;
	background-color: #2746a1;
	border: 1px solid #9bb7e6;
	border-right: none;
	border-radius: 2px;
	text-align: center;
}

.left_bottom_wb_nav1 {
	display: block;
	height: 22px;
	line-height: 22px;
	width: 47px;
	float: left;
	color: #fff;
	background-color: #2746a1;
	border: 1px solid #9bb7e6;
	border-right: none;
	border-radius: 2px;
	text-align: center;
}

.left_bottom_wb_nav2 {
	display: block;
	height: 22px;
	line-height: 22px;
	width: 46px;
	float: left;
	background-color: #fbfbfd;
	border: 1px solid #9bb7e6;
	border-radius: 2px;
	text-align: center;
}

.left_bottom_lb {
	height: auto;
	width: 360px;
	margin: 10px auto auto 5px;
}

.lb1 {
	width: 330px;
	height: 50px;
	margin: 18px auto auto 12px;
	color: #5e79ee;
	font-size: 14px;
	font-weight: bold;
}

.lb11 {
	width: 320px;
	height: auto;
	margin: 18px auto auto 12px;
	color: #5e79ee;
	font-size: 14px;
	font-weight: bold;
}

.lb1 p {
	float: left;
	margin: 5px auto auto 5px;
}

.lb1_text {
	width: 270px;
	height: 20px;
	float: left;
	font-size: 12px;
	color: #343434;
	font-weight: normal;
	line-height: 20px;
	margin: -12px auto auto 50px;
	overflow: hidden; /* 超出的部分隐藏起来 */
	white-space: nowrap; /* 不显示的地方用省略号...代替 */
	text-overflow: ellipsis; /* 支持 IE */
}

.lb1_text1 {
	width: 320px;
	height: 70px;
	float: left;
	font-size: 12px;
	color: #343434;
	font-weight: normal;
	line-height: 22px;
	margin-top: 10px;
	margin-bottom: 10px;
	word-wrap: break-word;
}

.lb1_text1 a:hover {
	color: red;
}

.lb1_text1 label {
	margin: 0 5px 5px 0;
}

.lb1_text1 label:hover {
	color: red;
}

.moweiwz2 {
	color: #333333;
	margin-top: 5px;
	margin-bottom: 5px;
}

.more {
	float: right;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	margin-right: 20px;
	margin-top: 10px;
	display: block;
}

.return {
	width: 350px;
	height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
}

.return1 {
	float: right;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	margin-right: 20px;
	margin-top: 10px;
	display: block;
}

.map_title_rig1 {
	display: block;
	float: right;
	width: 48px;
	height: 23px;
	line-height: 23px;
	border: 1px solid #99b4e3;
	background-color: #fbfbfb;
	border-radius: 2px;
	text-align: center;
	margin: 8px 28px auto auto;
}

.map_title_rig2 {
	display: block;
	float: right;
	width: 48px;
	height: 23px;
	line-height: 23px;
	border: 1px solid #99b4e3;
	background-color: #fbfbfb;
	border-radius: 2px;
	text-align: center;
	margin: 8px 5px auto auto;
}

.map_title_rig3 {
	display: block;
	float: right;
	width: 48px;
	height: 23px;
	line-height: 23px;
	border: 1px solid #99b4e3;
	background-color: #2746a1;
	border-radius: 2px;
	text-align: center;
	margin-top: 8px;
	color: #fff;
}

.map_title_rigg {
	margin-top: -45px;
}

.map_title_rigg a:hover {
	display: block;
	float: right;
	width: 48px;
	height: 23px;
	line-height: 23px;
	border: 1px solid #99b4e3;
	background-color: #2746a1;
	border-radius: 2px;
	text-align: center;
	margin-top: 8px;
	color: #fff;
}

.network1 {
	float: left;
	color: #666666;
	line-height: 45px;
	margin-left: 10px;
}

.network2 {
	float: left;
	color: #18a70f;
	font-size: 28px;
	font-weight: bold;
	font-family: Arial;
}

.tubiao {
	width: inherit;
	height: 36px;
	line-height: 36px;
	color: #4c4c4c;
	border-bottom: 1px solid #efefef;
}