@CHARSET "UTF-8";

#reg_content {
	width: 1000px;
	margin: 0 auto;
	height: 600px;
	padding: 10px 0 10px 0;
	background: url('../../../WebSit/image/register/login_bg.png') no-repeat;
}

.cont_title {
	margin: 15px 0 15px 30px;
	color: #626262;
	font-size: 18px;
	font-family: "微软雅黑" ；;
}
.text_wz {
	display: inline;
	font-size: 12px;
	color: #a2a2a2;
	font-weight: normal;
	margin-left: 5px;
	vertical-align: middle;
}
/*列表*/
.regtable {
	margin: 0;
	padding: 0;
	table-layout: fixed;
	width: 100%;
}

.regtable th {
	padding: 0 10px 0 0;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	border-width: 0;
	border-color: #cccccc;
	color: #333;
	text-align: right;
	font-size: 14px;
	font-family: 
}

.regtable td {
	padding: 0;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	border-width: 0;
	border-color: #cccccc;
	color: #333
}

.sendMsgBt1 {
	width: 110px;
	height: 32px;
	text-align: center;
	vertical-align: middle;
	background: url("../../image/register/bg_getcode.png") repeat-x;
	border: solid 1px #ccc;
	cursor: default;
	font-size: 14px;
	outline: none;
	color: #a3a3a3;
}

.sendMsgBt2 {
	height: 32px;
	text-align: center;
	background-color: #f3f3f3;
	border: 0px;
	outline: none;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	width: 110px;
	border: solid 1px #a3a3a3;
	cursor: pointer;
}

.sendMsgBt2:HOVER {
	background-color: #a3a3a3;
	color: white;
}