<?xml version="1.0" encoding="UTF-8"?>

<!-- cxf webservice配置文件，如果不使用webservice，可直接删除本文件 -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://cxf.apache.org/jaxws 
		http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	
	<!-- webservice示例配置 -->
	<jaxws:endpoint id="webserviceexample"
		implementor="com.webserviceExample.WebServiceExample" address="/webserviceexample" />
	
</beans>
