@CHARSET "UTF-8";
.common_c0{
	margin:0;
	padding:0;
    min-height: 762px; 
	height:100%;
	/* position: absolute;	 */
	min-width:1366px;
	width:100%;
	
}

.tip_top {
	height: 41px;
	width: 100%;
	background: #3982de;
	border:1px solid #3982de;
	-webkit-box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	-moz-box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	/* 上左上右圆角 */
	/* Gecko browsers */
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	/* Webkit browsers */
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	/* W3C syntax */
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	}

.tip_top_textrow{
	float:left;
	width:100%;
	text-align:left;
    line-height:41px;
    font-size: 14px;
    color:white;
     margin-left:14px;
    
}

.tip_top_textleft{
	float:left;
	width:50%;
	text-align:center;
    line-height:41px;
    font-size: 14px;
    color:white;
    
}

.tip_top_textright{	
	float:left;
    line-height:41px;
    text-align:center;
    font-size: 14px;
    color:#a5c1ed;
}

.tip_title{
	
}

.tip_content{
	clear:both;
	height:100%;
	width:160px;
	border:1px solid #3982de;
	background:white; 
	
	-webkit-box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	-moz-box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	 box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	 /* 下左下右圆角 */
	/* Gecko browsers */
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	/* Webkit browsers */
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	/* W3C syntax */
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.tip_line{
	vertical-align: middle;
    width:100%;	
    height:28px;
   
}

.tip_line1_title_sign{
	float:left;
	margin-left:7px;
	height:13px;
	width:3px;
	background:#666666;
	margin-top:4px;
	margin-top:0px\9;
}
.tip_line1_title_text{
	float:left;
	margin-left:3px;
	font-size: 14px;
    color:#666666;
    text-align:center;
}

.tip_line1_left{
	text-align:center;
	font-size: 26px;
    color:#FFA500;
    vertical-align: bottom;
     border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #c4c7cc;
}

.tip_line1_right{
    text-align:center;
	padding-top:2px;
	font-size: 14px;
    color:#000000;
    vertical-align: bottom;
    border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #c4c7cc; 
}




.tip_line1_rightend{
    text-align:center;
	padding-top:2px;
	font-size: 12px;
    color:#000000;
    vertical-align: bottom;

}
.tip_bottom{
	height:30px;  
}

.tip_traff_td{
	text-align:left;
	font-size:14px;
}

/** 拥挤度字体颜色表示**/
.littletraff{
	color:green;
}

.sizeguid{
	position:absolute;
	width:37px;
	height:89px;
	right:50px;
	top:164px;
	border-radius:4px;
	border:1px solid #c4c7cc;
	background:white; 
	z-index:1000;
	-webkit-box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	-moz-box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	box-shadow: 0 0 5px rgba(12, 4, 7, .35);
}
.sizeguid_img1{
	margin-left:11px;
	text-align:center;
	margin-top:14px;
	
}
.sizeguid_img2{
	margin-left:11px;
	text-align:center;
	margin-top:20px;
	
}
.sizeguid_line{
	text-align:center;
	margin-top:14px;
	height:1px;
	line-height:1px;
	width:100%;
	background:#c4c7cc;
	font-size:0px;
	overflow:hidden;
}

/**样式2：绿色 **/
	
  .tip_top_style2 {
	height: 41px;
	width: 100%;
	background: #008181;
	border:1px solid #008181;
	-webkit-box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	-moz-box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	/* 上左上右圆角 */
	/* Gecko browsers */
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	/* Webkit browsers */
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	/* W3C syntax */
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	}
	
.tip_content_style2{
	clear:both;
	height:100%;
	width:209px;
	border:1px solid #008181;
	background:white; 
	
	-webkit-box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	-moz-box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	 box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	 /* 下左下右圆角 */
	/* Gecko browsers */
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	/* Webkit browsers */
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	/* W3C syntax */
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/**样式3 翠绿**/
.tip_top_style3 {
	height: 41px;
	width: 100%;
	background: #2ABB5C;
	border: 1px solid #2ABB5C;
	-webkit-box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	-moz-box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	/* 上左上右圆角 */
	/* Gecko browsers */
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	/* Webkit browsers */
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	/* W3C syntax */
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.tip_content_style3 {
	clear: both;
	height: 100%;
	width: 160px;
	border: 1px solid #2ABB5C;
	background: white;
	-webkit-box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	-moz-box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	box-shadow: 0 0 5px rgba(12, 4, 7, .35);
	/* 下左下右圆角 */
	/* Gecko browsers */
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	/* Webkit browsers */
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	/* W3C syntax */
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.tip_traff_td1{
	text-align:left;
	font-size:10px;
	padding:5 5 5 5;
}