@CHARSET "UTF-8";

.layout1 {
	margin: 0 auto;
	width: 985px;
	padding-left:15px;
	height: 32px;
	border-bottom: solid 2px #5e79ec;
}

.layout1_a {
	margin: 0 5px 0 0;
	list-style: none;
	height: 33px;
	min-width: 90px;
	padding: 0 10px;
	float: left;
	text-align: center;
	line-height: 33px;
	vertical-align: middle;
	float: left;
}

.a_select,.layout1_a:HOVER {
	margin: 0 5px 0 0;
	list-style: none;
	height: 33px;
	padding: 0 10px;
	min-width: 90px;
	float: left;
	background-color: #5e79ec;
	text-align: center;
	line-height: 33px;
	vertical-align: middle;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-weight: bold;
}

.layout2 {
	margin: 0;
	width: 970px;
	padding: 0 15px;
	height: 70px;
	line-height: 70px;
}

.layout2 INPUT {
	float: left;
	vertical-align: middle;
	margin: 20px 10px 0 0 ;
}
.layout2_label1 {
	float: left;
	vertical-align: middle;
}
#layout1_select01,#layout1_select02 {
	float: left;
	vertical-align: middle;
	margin: 20px 10px 0 0 ;
}

.layout2_label2 {
	float: left;
	vertical-align: middle;
	margin-left: 50px;
	display: block;
}

.layout2 img {
	float: left;
	margin: 20px 0 10px 15px;
}

.layout3 {
	margin: 0 auto;
	width: 1000px;
	padding: 0 0 10px 0;
	min-height: 500px;
	
	
}