@charset "utf-8";
.treediv>label *{
    float: left;
    margin-left: 10px;
}
.treediv>label{
    width: 100%;
    height:30px;
    line-height: 30px;
    display: inline-block;

    text-align: left;
    color: #666;
    float: left;
}
.treediv>label:hover{
    background-color: #0066cc!important;
    color: white!important;
}
.treelv_1{
    padding-left:20px;
}
.treelv_2{
    padding-left:40px;
}
.treelv_3{
    padding-left:60px;
}
.treelv_4{
    padding-left:80px;
}
.ischecked{
background-color:#0066cc;
color:white!important;
}