<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="net" use-default-filters="true">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:annotation-config/>

    <!-- 自动加载属性配置文件 -->
    <context:property-placeholder location="/WEB-INF/jdbc.properties"/>

    <!-- 配置dhcp2数据库源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <!-- 数据库基本信息配置 -->
        <property name="url" value="${jdbc.url}"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxTotal" value="${dbcp2.maxTotal}"></property>
        <property name="maxIdle" value="${dbcp2.maxIdle}"/>
        <property name="minIdle" value="${dbcp2.minIdle}"/>
        <property name="initialSize" value="${dbcp2.initialSize}"/>
        <property name="maxWaitMillis" value="${dhcp2.maxWaitMillis}"/>
        <property name="validationQuery" value="${dbcp2.validationQuery}"/>
        <property name="testOnBorrow" value="${dbcp2.testOnBorrow}"/>
        <property name="testOnReturn" value="${dbcp2.testOnReturn}"/>
        <property name="testWhileIdle" value="${dbcp2.testWhileIdle}"/>
        <property name="timeBetweenEvictionRunsMillis" value="${dbcp2.timeBetweenEvictionRunsMillis}"/>
        <property name="poolPreparedStatements" value="${dbcp2.poolPreparedStatements}"/>
        <property name="maxOpenPreparedStatements" value="${dbcp2.maxOpenPreparedStatements}"/>
    </bean>

    <!-- 配置Hibernate的数据源代理工厂：使用p属性通配符，按文件名搜索匹配的映射文件 -->
    <bean id="sessionFactory" name="factory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
          p:dataSource-ref="dataSource">
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.current_session_context_class">
                    org.springframework.orm.hibernate4.SpringSessionContext
                </prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <!--<prop key="hibernate.connection.url">jdbc:mysql://120.55.193.1:3306/zjmanager</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>-->
            </props>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath:net/modol/*.hbm.xml</value>
            </list>
        </property>
    </bean>

    <!-- 配置dhcp2数据库源 -->
    <bean id="dataSourcepublic" class="org.apache.commons.dbcp2.BasicDataSource" >
        <!-- 数据库基本信息配置 -->
        <property name="url" value="${jdbc.urlp}"/>
        <property name="driverClassName" value="${jdbc.driverp}"/>
        <property name="username" value="${jdbc.usernamep}"/>
        <property name="password" value="${jdbc.passwordp}"/>
        <property name="maxTotal" value="${dbcp2.maxTotalp}"></property>
        <property name="maxIdle" value="${dbcp2.maxIdlep}"/>
        <property name="minIdle" value="${dbcp2.minIdlep}"/>
        <property name="initialSize" value="${dbcp2.initialSizep}"/>
        <property name="maxWaitMillis" value="${dhcp2.maxWaitMillisp}"/>
        <property name="validationQuery" value="${dbcp2.validationQueryp}"/>
        <property name="testOnBorrow" value="${dbcp2.testOnBorrowp}"/>
        <property name="testOnReturn" value="${dbcp2.testOnReturnp}"/>
        <property name="testWhileIdle" value="${dbcp2.testWhileIdlep}"/>
        <property name="timeBetweenEvictionRunsMillis" value="${dbcp2.timeBetweenEvictionRunsMillisp}"/>
        <property name="poolPreparedStatements" value="${dbcp2.poolPreparedStatementsp}"/>
        <property name="maxOpenPreparedStatements" value="${dbcp2.maxOpenPreparedStatementsp}"/>
    </bean>

    <!-- 配置Hibernate的数据源代理工厂：使用p属性通配符，按文件名搜索匹配的映射文件 -->
    <bean id="sessionFactoryp" name="factory2"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
          p:dataSource-ref="dataSourcepublic">
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialectp}</prop>
                <prop key="hibernate.current_session_context_class">
                    org.springframework.orm.hibernate4.SpringSessionContext
                </prop>
                <prop key="hibernate.show_sql">${hibernate.show_sqlp}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sqlp}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.autop}</prop>
                <!--<prop key="hibernate.connection.url">jdbc:mysql://120.55.193.1:3306/zjmanagerpub</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>-->
            </props>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath:net/modol/publicdata/*.hbm.xml</value>
            </list>
        </property>
    </bean>

</beans>