@CHARSET "UTF-8";
.div_choose {
	float: left;
	margin: 0;
	padding: 2px 5px;
}
.div_text {
	float: left;
	maigin: 0;
	padding: 0 5px;
	width: 202px;
	min-height: 27px;
	height: auto;
	line-height: 27px;
	vertical-align: middle;
	border: solid 1px #d8d8d8;
	outline: none;
	background-color: #fff;
}
/*弹出框内容布局*/
#cresteTree {
	margin: 0;
	padding: 0;
	height: 514px;
	width: 500px;
}

#dialog01 {
	float: left;
	margin: 10px 0 15px 55px;
	padding: 10px 0;
	height: 413px;
	width: 413px;
}

#dialog02 {
	float: left;
	margin: 10px 0 0 0;
	padding: 0;
	height: 28px;
	width: 413px;
}

.dialog_input_box {
	margin: 0;
	padding: 0 5px;
	width: 364px;
	height: 28px;
	line-height: 27px;
	vertical-align: middle;
	border: solid 1px #d8d8d8;
	outline: none;
	background-color: #fff;
	vertical-align: top;
}

.img_search {
	margin: 0;
	padding: 0;
}

.div_tree {
	float: left;
	margin: 0;
	padding: 0;
	width: 250px;
	height: 362px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-color: #c9d9e9;
	border-style: solid;
	border-width: 0 1px 1px 1px;
}

.dialog_alluser {
	float: left;
	margin: 0;
	padding: 10px 0;
	width: 158px;
	height: 342px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-color: #c9d9e9;
	border-style: solid;
	border-width: 0 1px 1px 0;
}

.dialog_alluser div {
	margin: 0 0 2px 0;
	padding: 0;
	width: 158px;
	height: 22px;
}

.dialog_alluser a {
	margin: 0;
	padding: 0 0 0 15px;
	width: 158px;
	height: 22px;
	display: block;
	cursor: pointer;
	line-height: 22px;
	vertical-align: 5px;
}

.person_head {
	margin: 5px 5px;
	display: block;
	padding: 0;
	float: left;
}
#div_tree_operation {
	float: left;
	text-align: center;
	margin: 0;
	padding: 0 0 23px 0;
	width: 100%;
	display: block;
}

#div_tree_operation img {
	margin: 0 10px 0 0;
	padding: 0;
}
#tree,#tree ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#tree li {
	margin: 0;
	padding: 8px 8px 0 12px;
}

#tree li img {
	margin: 0 5px 0 0;
	padding: 0;
}