@CHARSET "UTF-8";
.firstplace{
	border-bottom: solid 1px #ccc;
	width:100%;
	padding-left: 24px;
	font-size: 12px;
	color: #7c87a5;
	height:40px;
	line-height: 40px;
}
.secondplace{
	width:100%;
	padding-left: 24px;
	font-size: 12px;
	color: #7c87a5;
	height:59px;
	line-height: 59px;
}
.input{
	float:left;
	margin-top: 15px;
height: 30px;
width: 90px;
background-color: #3e94fe;
border: solid 1px #3984e5;
border-radius: 2px;
color: white;
cursor: pointer;
}
.listTable td{
	border-left: 0;
	border-right: 0;
	border-bottom: solid 1px #ccc;
}
.listTable th{
	border-left: 0;
	border-right: 0;
	border-bottom: solid 1px #ccc;
	background-color: #f3f6fc;
	font-size: 12px;
	color: #a8a0aa;
}
.win_1{
	border-bottom: solid 1px #ccc;
	width:600px;
	font-size: 12px;
	color: white;
	height:34px;
	line-height: 34px;
	background-color: #3984e5;
	
}