@CHARSET "UTF-8";
/*弹出窗口*/
.window {
	font-size: 12px;
	position: absolute;
	width: 806px;
	overflow: hidden;
}

.window .window-header {
	margin:0;
	background: url(../../image/schedule/dialog_top.png) no-repeat;
	width: 776px;
	padding: 25px 0 0 30px;
	font-weight: bold;
	font-size: 16px;
	height: 24px;
	
}

.window .window-body {
	width: 806px;
	height:514px;
	background: url(../../image/schedule/dialog_content.png) no-repeat;
	background-position: bottom;
}
