@CHARSET "UTF-8";

body {
	width: 422px;
	height: 400px;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

#dialog {
	width: 420px;
	height: 400px;
	background-color: white;
	border: 1px solid white;
	margin: 0;
	position: relative !important; /* 浮动对话框 */
	position: relative;
	z-index: 555;
}

.log_top {
	width: inherit;
	height: 30px;
	font-size: 24px;
	font-weight: bold;
	color: #333333;
	text-align: center;
	margin-top: 52px;
	font-family: "微软雅黑";
}

.log_txt1 {
	width: 318px;
	height: 40px;
	margin: 55px auto auto 50px;
	color: #a3a3a3;
	font-size: 14px;
	border: 1px solid #ccc;
	background-repeat: no-repeat;
	text-decoration: none;
	outline: medium;
}

.log_txt11 {
	width: 250px;
	border: 0px;
	outline: none;
	color: #a3a3a3;
	font-size: 14px;
	position: absolute;
	top: 140px;
	margin-left: 5px;
}

.log_txt2 {
	width: 318px;
	height: 23px;
	margin: 20px auto auto 50px;
	color: #a3a3a3;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
	outline: medium;
	border: 1px solid #ccc;
	padding: 10px 0;
}

.log_txt22 {
	width: 250px;
	border: 0px;
	outline: none;
	color: #a3a3a3;
	font-size: 14px;
	position: absolute;
	top: 200px;
}

.log_che {
	width: 16px;
	height: 16px;
	margin: 20px auto auto 50px;
	float: left;
}

.log_rig {
	margin: 0px;
}

.log_close_img {
	position: absolute;
	top: 10px;
	left: 371px;
	width: 40px;
	cursor: pointer;
}

.log_close_img:HOVER {
	color: red;
}

.text {
	margin: 0;
	padding: 0 5px;
	width: 298px;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;
	border: solid 1px #ccc;
	outline: none;
	background-color: #fff;
	color: #999;
}

.text1 {
	width: 110px;
	height: 40px;
	font-size: 16px;
	text-align: center;
	background-color: #f3f3f3;
	border-color: white;
	border: 0px;
	outline: medium;
	vertical-align: middle;
}

.text2 {
	width: 310px;
	color: #a3a3a3;
	font-size: 16px;
	background-color: #2746a1;
	border: 0px;
	font-weight: bold;
	color: white;
}

.text3 {
	width: 100px;
	height: 35px;
	color: #a3a3a3;
	font-size: 12px;
	margin-left: 45px;
	margin-top: 10px;
	background-color: #2746a1;
	border: 0px;
	color: white;
	border-radius: 3px;
}

.text_wz {
	display: inline;
	font-size: 12px;
	color: #a2a2a2;
	font-weight: normal;
	margin-left: 5px;
	vertical-align: middle;
}

.password_input {
	width: 250px;
	border: 0px;
	outline: none;
	font-size: 14px;
	height: 23px;
	vertical-align: top;
}